.unstyled-button {
    border: none;
    padding: 0;
    background: none;
    color: rgb(0, 125, 209);
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}